html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    height: 5rem;
    background-color: #f7f456;
}
.books{
    background-color: #cddcdd;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 1rem;
}
.card{
    background-color: #11b0bb;
    border: 2px solid;
    margin: 1rem;
    padding: 1rem;
}
/* cancel or delete icon style */
.dele{
    color:red;
    font: bold;
    float: right;
    margin-right: -10px;
    margin-top: -10px;
}
/*cover image */
.cover{
    width: 190px;
    height: 25vh;
    background-color: bisque;
}

/*form styling*/
.pop_form{
    display: grid;
    justify-content: center;
    align-items: center;
}
.frm_book{
    
    padding: 3rem;
    margin-top: 2rem;
    background-color: #cddcdd;
    z-index: 1;
}
.frm_book input{
    width: 95%;
    justify-self: center;
    margin-left: 5px;
    margin-bottom: 10px;
}